<div class="fluid-container">
  <div class="row">
    <div class="col-md-2 menu">
      <h1>DASH-DASH-GO!</h1>
      </div>
    <div class="col-md-10" role="main">
      <h2 id='title'>Welcome to DASH-DASH-GO!</h2>
    {{outlet}}
    </div>
  </div>
</div>
